@model List<ToDoList>
<div class="container-fluid mt-3">
    <h1 class="my-3 text-center">Lista de Tarefas</h1>
    <div class="d-flex flex-wrap justify-content-center">

        <form class="d-flex gap-2" asp-controller="ToDoLists" asp-action="Search" method="get">

            <div class="flex-grow-2">
                <div class="input-group">
                    <input class="form-control rounded" type="text" name="search" placeholder="Pesquisar" />
                </div>
            </div>

            <div class="flex-grow-1">
                <select class="form-control" aria-label="Default select example" name="status">
                    <option value="">Filtrar por status</option>
                    <option value="false">Em Andamento</option>
                    <option value="true">Concluída</option>

                </select>
            </div>

            <div class="">
                <button type="submit" value="Pesquisar" class="btn btn-search">Pesquisar</button>
                <a asp-action="Index" class="btn btn-clear">Limpar Filtro</a>
            </div>
        </form>
    </div>

    <div class="container-fluid">

    <div class="d-flex flex-wrap justify-content-around mt-3 mx-auto gap-4">
        @foreach (var task in Model)
        {
            <div class="card col-md-3 my-2 shadow p-2 @(task.TaskStatus == "Em Andamento" ? "borderDoing" : "border-danger")">
                <div class="card-body d-flex flex-column @(task.TaskStatus == "Em Andamento" ? "doing" : "done")" style="border-radius: 20px">

                    @*  Head *@
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">@task.TaskName</h5>
                        <a class="btn-cardInfo text-center" asp-action="Detail" asp-route-id="@task.ToDoListId"><i class="bi bi-info-circle"></i> Info</a>
                    </div>


                    @* @* Body *@

                    <div class="row mb-3">
                        <div class="col-md-6 fw-light">Inicio: @task.StartDate</div>
                        <div class="col-md-6 fw-light text-center">Fim: @task.EndDate</div>

                    </div>

                    <span class="w-100 p-2">
                        <b>Descrição:</b>
                        <p class="px-2">@task.TaskDescription</p>
                    </span>

                    <div class="flex-bottom mt-auto">
                        #@task.TaskType

                        <form asp-action="ToggleTaskStatus" asp-route-id="@task.ToDoListId">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="toggleSwitch" onchange="this.form.submit()" @(task.IsCompleted ? "checked" : "")>
                                <label class="form-check-label" for="toggleSwitch">Alterar Status</label>
                            </div>
                        </form>

                        <div class="d-flex justify-content-between mt-2 mb-0">
                            <span class="cardStatus py-1 px-2">@task.TaskStatus</span>
                            <span>
                                <a class="btn-cardInfo" asp-action="Edit" asp-route-id="@task.ToDoListId"><i class="bi bi-pencil-fill"></i></a>
                                <a type="button" class="btn-cardInfo ms-2" data-bs-toggle="modal" data-bs-target="#delete" data-task-id="@task.ToDoListId">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header border-none">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza que deseja deletar?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esta operação não poderá ser desfeita.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@task.ToDoListId"><i class="bi bi-trash"></i> Deletar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
</div>

